body {
  word-wrap: break-word;
  background-color: white;
  color: black;
}

.logo {
	font-family: 'UnifrakturCook', cursive;
	font-size: 75px;
	width: 400px;
	height: 200px;
	border-style: solid;
	text-align: center;
    vertical-align: middle;
    line-height: 70px;
    position: absolute;
    top:25%;
    left:25%;
    background-color: white;
    color: black;
}

.logo span.slogan {
	line-height: 35px;
	font-family: 'Cutive Mono', monospace;
	font-size: 20px;
	letter-spacing: 0.01em;
	word-spacing: normal;
}

.logo span.zz-slogan {
	line-height: 4.5px;
	font-family: 'Cutive Mono', monospace;
	font-size: 10px;
	color: red;
    margin:10px 0 0 0;
}

a {
    color: red;
    text-decoration: none;
}

.logo span {
	display: block;
}

.background {
	font-family: 'Cutive Mono', monospace;
}

